body {
    background-color: black;
    margin: 0px;
}

#manufacturing-canvas {
	width: 400px;
	height: 300px;
}

div#interface {
	position:absolute;
	width: 100%;
}

#research span {
	height:120px;
	float:left;
	margin:15px;
}

#ship-builder-table {
	float: right;
}
#ship-builder-table td {
	background: white;
	width: 100px;
	height: 100px;
}

img {
	opacity: 0.8;
}

img:hover {
	opacity: 1.0;	
}

div#optionsMenu > button {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 300;
}

#main-menu {
	float: right;	
}

/* planet info setup */
#planet-info {
	visibility:hidden;
}

#planet-info-1,
#planet-info-atmosphere, 
#planet-info-minerals {
	width: 300px;
	height: 300px;
	padding: 0.5em;
	margin: 0.5em;
}

#planet-info-1 h3,
#planet-info-atmosphere h3,
#planet-info-minerals h3 {
	font-family: Verdana;
	text-align: center;
	margin: 0;
}

.slider {
	margin: 1.0em;
}

/* jquery combobox */
.ui-combobox {
  position: relative;
  display: inline-block;
}
.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* support: IE7 */
  *height: 1.7em;
  *top: 0.1em;
}
.ui-combobox-input {
  margin: 0;
  padding: 0.3em;
}
